node_modules
.next
out
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local.txt
.DS_Store
*.log

*storybook.log
storybook-static

/playwright-report
/test-results
/playwright/.cache
/tsconfig.tsbuildinfo
